.jumbotron {
    background-color: #333;
    color: #eee;
}

.employee-card {
    margin: 50px 30px 20px 30px;
    width: 35%;
    text-align: center;
    box-shadow: 10px 10px 20px grey;
}

.card-header {
    background-color: #333;
    color: #eee;
}